:root{
    --light: #ffffff;
    --dark: #000000;
    --accent: #E8C300;
    --grey: #E5E5E5;
    --light-grey: rgba(51, 51, 51, 0.2);
    --dark-grey: rgba(51, 51, 51, 0.5);
    --xxl-text: 96px;
    --l-text: 36px;
    --mm-text: 24px;
    --m-text: 18px;
    --ss-text: 14px;
    --s-text: 12px;
    --standart-text: 'Open Sans', sans-serif;
    --bold: 700;
    --light-t: 300;
    --design-text: 'Banny Bold Round';
    --icon-border: 1px solid rgba(255, 255, 255, 0.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
img{
    max-width: 45vw;
}

.headline1{
    /* Text-style: Heading 1; */
    font-family: var(--design-text);
    font-size: var(--xxl-text);
    /* align-self: center;
    justify-self: center; */
}
.headline2{
    font-family: var(--standart-text);
    font-size: var(--s-text);
    text-align: center;
}
.title{
    font-family: var(--design-text);
    font-size: var(--l-text);
    line-height: 48px;
    text-align: center;
}
.text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: var(--light-t);
    font-size: var(--m-text);
    text-align: center;
    line-height: 28px;
    width: 41.666vw;
}
.text_b{
    font-weight: var(--bold);
    margin-bottom: 3vh;
    display: flex;
    justify-self: center;
}
.text_center{
    width: 39.236vw;
    text-align: center;
}
.title_top{
    margin-top: 12.5vh;
    margin-bottom: 0px; 
}
.page-name{
    /* padding: 0px; */
    width: 100vw;
    height: 12.5vh;
    font-family: var(--design-text);
    font-style: normal;
    font-weight: var(--bold);
    font-size: var(--s-text);
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5em;
    position: absolute;
    z-index: 2;
}
hr{
    border: none;
}
.yellow-hr{
    background-color: var(--accent);
    width: 60px;
    height: 5.11px;
    border-radius: 50px;
    
    /* display: flex; */
    /* justify-content: center; */
    /* justify-self: center; */
    /* align: center; */
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.yellow-square{
    position: absolute;
    border: 20px solid #E8C300;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    /* z-index: 1; */
}
#square1{
    top: 128.125vh; 
    right: 5.555vw;
}
#square2{
    top: 212.500vh; 
    left: 5.555vw;
}
#square3{
    /* top: 128.125vh;  */
    left: 0px;
}
#square4{
    /* top: 79.125vh;  */
    left: -5.555vw;
}
#square5{
    /* top: 579.125vh;  */
    right: -5.555vw;
}
button{
    height: 60px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.header{
    width: 100vw;
    /* height: 0.125vh; */
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: blanchedalmond;
    border-bottom: 2px;
    padding: inherit;
    position: absolute;
    top: 0px;
}
.header_link{
    font-family: Open Sans;
    font-style: normal;
    /* font-weight: bold; */
    font-size: var(--s-text);
    color: var(--light);
    display: flex;
    align-items: center;
    text-align: center;
}

.header_space{
    width: 120px;
}
::-webkit-scrollbar{
    width: 0px;
}
.container{
    box-sizing: border-box;
    height: 84.375vh;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    /* overflow-x: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--light);
}
.container-small{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.container-small_page7{
    justify-content: center;
}
.left-content{
    width: 41.667vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1{
    height: 100vh;
    flex-direction: column;
    background-image: url(images/header-bg.png);
    background-size: cover;
    /* background-position: ; */
    background-repeat: no-repeat;
    color: var(--light);
    align-items: center;
    justify-content: center;
}
.helm{
    position: absolute;
    top: 25px;
}
/* .promo{
    display: ;
} */
.dark-button{
    width: 200px;
    margin: 20px;
    transition: 0.5s ease-out;
    background: none;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-button:hover{
    background-color: var(--accent);
    border: none;
}
.header_contacts{
    position: absolute;
    bottom: 30vh;
    right: 80px;
    width: 60px;
    height: 240px;
    /* background-color: #E5E5E5; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_contacts_link{
    border: var(--icon-border);
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease-out;
}
.header_contacts_link:hover{
    background-color: var(--accent);
    border: 1px solid rgba(255, 255, 255, 0.0);
}
.header_time{
    font-family: var(--standart-text);
    font-weight: var(--bold);
    font-size: var(--s-text);
    text-align: center;
    color: var(--light);
    left: 80px;
    bottom: 20vh;
    position: absolute;
    bottom: 25vh;
    left: 80px;
    width: 60px;
    /* height: 240px; */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.down{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--light);
    color: var(--dark);
    /* display: flex;
    justify-self: flex-end;
    align-content: center;
    justify-content: center; */
    position: absolute;
    z-index: 1;
    bottom: 93px;
    padding: 10px;
    transition: 0.5s ease-out;
}
.down:hover{
    /* background: none; */
    background-color: var(--accent);
}
/* a.text:active, a.text:hover,  a.text {
  text-decoration: none;
  align-self: center;
} */
.down_line{
    border: var(--icon-border);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 83px;
    padding: 10px;
}
.form{
    width: 100%;
}
.form_stroke{
    display: flex;
    width: 100%;
}
.form_input{
    margin: 5px;
    padding: 15px;
    height: 60px;
    outline: none;
    border: none;
    width: 100%;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px;
    background-color: var(--grey);
    color: var(--dark-grey);
    font-size: var(--ss-text);
    font-family: var(--standart-text);
    /* vertical-align: center; */
}
.form_input_2xHeight{
    height: 120px;
}
.yellow-button{
    width: calc(100% - 10px);
    height: 60px;
    margin: 5px;
    background-color: var(--accent);
    color: var(--light);
    font-size: var(--s-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
}
.yellow-button:hover{
    background: var(--dark-grey);
}
.send-message{
    width: 50%;
    /* align-self: flex-end; */
}
.form_contacts{
    display: flex;
    align-self: center;
    font-family: var(--standart-text);
    font-weight: var(--bold);
    font-size: var(--s-text); 
    color: var(--dark-grey);
    width: 50%;
}
/* .down{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-origin: 1px;
    background: none;
    color: var(--dark);
    z-index: 3;
}  */





.line{
    background-color: var(--light);
    position: absolute;
    opacity: 20%;
    /* z-index: ; */
}
.horizontal-line{
    height: 1px;
    width: 37%;
    width: 100px; 
}

.vertical-line{
    width: 1px;
    height: 87.5%;
} 
.line-left{
    left: 20vw;
}
.line-right{
    right: 20vw;   
}
#line1{
    width: calc(50vw - 190px);
    top: 100px;
    left: 80px;
}
#line2{
    width: calc(50vw - 190px);
    top: 100px;
    right: 80px;
}
#line3{
    top: 100px;
    /* left: 20vw; */
}
#line4{
    top: 100px;
    /* right: 20vw; */
}
#line5{
    top: 190px;
    /* height: calc(100vh - 333px); */
    height: calc(100% - 333px);
    /* height: 100px; */
    /* height: 0px; */
}
#line6{
    bottom: 0px;
    height: 83px;
}




#page2, #page4, #page6, #page9{
    background-color: var(--light);
    color: var(--dark);
}
#page3, #page5, #page7, #page9{
    display: block;
}
#page3{
    background-image: url(images/specialtys-bg.png);
    padding: 0px;
}
#img{
    display: flex;
    position: absolute;
}


.left-content_slider{
    position: relative;
}
.slider {
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 100%;
    transform: translateY(-50%);
    /* background: rgba(0, 0, 0, .5); */
  }
/* 
  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  } */

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
/* 
  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  } */
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }

  .slider__item>div {
    height: 84.375vh;

    text-align: center;
  }


  

#page5, #page7{
    background-image: url(images/specialtys-bg.png);
    padding: 0px;
}
#page6{
    flex-direction: column;
    height: 115vh;
    justify-content: flex-start;
}

.menu-line{
    height: 6.25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.menu-line_content{
    width: 8.333vw;
    text-align: center;
}
.menu-line_separator{
    height: 100%;
    width: 1px;
    background-color: var(--light-grey);
}
.menu-table{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-table_column{
    display: flex;
    flex-direction: column;
    width: 25.2vw;
}
.menu-table_column_content{
    height: 8.25vh;
}
.menu-table_column_content_title{
    font-family: var(--design-text);
    font-size: var(--m-text);
    color: var(--dark);
}
.menu-table_column_content_text{
    font-family: var(--standart-text);
    font-size: var(--s-text);
    color: var(--dark-grey);
    font-weight: var(--light-t);
}
#page7{
    background-image: url(images/events-bg.png);
}
.black-img{
    position: relative;
    display: flex;
    align-items: center;
}
.black-img_title{
    height: 83%;
    width: 5.55vw;
    background-color: var(--dark);
    color: var(--light);
    font-family: var(--design-text);
    font-size: var(--mm-text);
    line-height: 12px;
    font-weight: var(--light-t);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    writing-mode: vertical-lr;
    padding: 20px;
}
/* ..black-img_title_text{
    transform: ;
} */
#right-picture-title{
    right: 40px;
}
#left-picture-title{
    left: 40px;
    transform: rotate(180deg);
}
#page8{
    height: 100%;
    padding: 0px;
}
.page8_img{
    height: 100%;
    width: 25%;
}
#page9{
    height: 80.875vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.fas{
    color: var(--accent);
    margin-left: 10px;
    margin-right: 10px;
}
#last-form{
    width: 100%;
}
#page10{
    height: 100%;
    padding: 0px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--standart-text);
    font-size: var(--ss-text);
    height: 100px;
    display: flex;
    justify-content: center;
   align-items: center;
}
#stupid-text{
    /* display: flex;
    align-self: center;
    justify-self: center; */
    /* width: 100%; */
    /* text-align: end; */
}
@font-face {
    font-family: 'Banny Bold Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Bold Round'), url('Banny-BoldRound.woff') format('woff');
    }